# User-specific files
*.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ww]in32/

# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Stduio Performance profiler
*.vspx
.vscode
*.diagsession
